body {
    font-family: sans-serif;
    margin: 20px;
    background-color: #F0F0F0
}
thead{
    background-color: white;
}
.secao-filtros{
    margin-top: 50px;
}
.navbar-brand{
    color: white;
}
.label-servidor{
    display: inline;
    color: #EEEEEE;
    margin-top: 0;
    margin-left: 15px;
    margin-right: 5px;
    padding-left: 15px;
    font-weight: bold;
    font-size: 14pt;
    border-left: 1px solid #CCCCCC;
}
#txt-servidor{
    margin-top: 10px;
    display: inline;
    width: 170px;
}
#btn-pesquisar{
    margin-top: 10px;
}
.navbar-header{
    display: inline;
}
.label-header{
    display: inline;
    color: #EEEEEE;
    font-size: 14pt;
    font-weight: bold;
}
#icone-barra{
    margin: 2px;
}
.princ-valor-venda{
    background-color: #889DC4;
    font-weight: bold;
    color: white;
}
#imagem-sobre{
    margin-top: 8px;
    margin-right: 8px;
}
#secao-principal td{
    width: 33%;
}
#tbody-tabela-caixas td{
    width: 25%;
}
.coluna-descricao{
    width: 50%;
}